<ion-header>
  <ion-toolbar>
    <ion-title>Noticias</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <!-- Noticia principal -->
  <app-principal-news
    *ngIf="principalNews"
    [title]="principalNews.title"
    [imageUrl]="principalNews.urlToImage">
  </app-principal-news>

  <!-- Otras noticias -->
  <app-card
    *ngFor="let news of otherNews"
    [title]="news.title"
    [description]="news.description"
    [imageUrl]="news.urlToImage">
  </app-card>
</ion-content>

